@charset "UTF-8";

body {
	overflow-y: scroll;
	font-size: 14px;
}

input {
	font-size: 14px;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 2px;
}

#logo {
	text-align: center;
	font-size: 36px;
	padding: 8px;
}

.content-hidden {
	display: none;
}

.main-area {
	/*float: center;*/
	margin:0 auto;
 	margin-top: 200px;
}

.askbar {
	text-align: center;
	margin-top: 8px;
}

.inputarea {
	width: 80%;
	overflow: hidden;
}

#askinput {
	width: 400px;
	font-size: 14px;
	padding: 5px 10px;
}

#askinput:focus {
	outline: none;
	border-color: rgba(236, 111, 102, 0.7);
}

#askbtn {
	margin-left: 10px;
	cursor: pointer;

	background: #E43A15;
	background-image: -webkit-linear-gradient(top, #E43A15, #E65245);
	background-image: -moz-linear-gradient(top, #E43A15, #E65245);
	background-image: -ms-linear-gradient(top, #E43A15, #E65245);
	background-image: -o-linear-gradient(top, #E43A15, #E65245);
	background-image: linear-gradient(to bottom, #E43A15, #E65245);
	-webkit-border-radius: 2;
	-moz-border-radius: 2;
	border-radius: 2px;
	border: 1px solid #F83600;
	color: #ffffff;
	font-size: 14px;
	padding: 6px 10px;
	text-decoration: none;	
	border: none;;
}

#askbtn:hover {
	background: #E63C17;
  	background-image: -webkit-linear-gradient(top, #E63C17, #E43A15);
  	background-image: -moz-linear-gradient(top, #E63C17, #E43A15);
  	background-image: -ms-linear-gradient(top, #E63C17, #E43A15);
  	background-image: -o-linear-gradient(top, #E63C17, #E43A15);
  	background-image: linear-gradient(to bottom, #E63C17, #E43A15);
  	text-decoration: none;
}

#answer-area, #comment-area {
	margin: auto;
	margin-top: 20px;
	width: 500px;
}

#loading {
	/* img is an inline element in XHTML strict */
	text-align: center;
}

#answer {
	
	
	font-size: 16px;
}

#def-form, #comment-form {
	
	text-align: center;
	font-size: 16px;
}

#comment-list {
	
	font-size: 16px;
}

.footer {
	text-align: center;
	margin-top: 40px;
}


