@charset "UTF-8";

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FFF;
}

legend {
	font-weight: bold;
}

input {
	font-family: 'Source Sans Pro', sans-serif;
	border-color: rgba(142, 142, 142, 0.7);
}

#logo {
	font-weight: bold;
}

.logo-netdb{
	color: #426BDF;
}

.logo-a {
	color: #D63627;
}

.logo-s {
	color: #F7AA07;
}

.logo-k {
	color: #35AA47;
}

/*
#answer {
	background: rgba(0%,0%,90%,0.05);
}
*/

.footer {
	color: #5F5F5F;
	
}
